.footer {
    background-color: black;
    color: white;
    height: 234px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 140px;
    h1 {
        font-weight: 500;
    }
}    img {
        height: 5vh;
    }
    a {
        color: white;
        text-decoration: none;
    }
